In [1]:
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [2]:
api.dataset_download_file(
    dataset='alperenmyung/social-media-advertisement-performance',
    file_name='ad_campaign_db.sqlite',
    path='.'
)

Dataset URL: https://www.kaggle.com/datasets/alperenmyung/social-media-advertisement-performance

True

In [3]:
%load_ext sql

In [4]:
import sqlite3
conn = sqlite3.connect('ad_campaign_db.sqlite')

In [5]:
%sql sqlite:///ad_campaign_db.sqlite

In [6]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [7]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///ad_campaign_db.sqlite
Done.

[('users',), ('campaigns',), ('ads',), ('ad_events',)]

In [8]:
%sql SELECT * FROM users LIMIT 5;

 * sqlite:///ad_campaign_db.sqlite
Done.

[('a2474', 'Female', 24, '18-24', 'United Kingdom', 'New Mariomouth', 'fitness, health'),
 ('141e5', 'Male', 21, '18-24', 'Germany', 'Danielsfort', 'food, fitness, lifestyle'),
 ('34db0', 'Male', 27, '25-34', 'Australia', 'Vincentchester', 'fashion, news'),
 ('20d08', 'Female', 28, '25-34', 'India', 'Lisaport', 'health, news, finance'),
 ('9e830', 'Male', 28, '25-34', 'United States', 'Brownmouth', 'health, photography, lifestyle')]